In [9]:
%%sql
WITH base_stats AS (
SELECT
    COUNT(*) FILTER (WHERE canceled) AS canceled_count,
    COUNT(*) FILTER (WHERE revocable AND canceled) AS revocable_count,
    AVG(confidence) AS average_confidence,
    COUNT(*) AS total_count
FROM the_list),
    expanded_stats AS (
SELECT s.*,
       (CAST(s.canceled_count AS FLOAT) / s.total_count) * 100 AS cancel_ratio,
       (CAST(s.revocable_count AS FLOAT) / s.canceled_count) * 100 AS revocable_ratio
FROM base_stats AS s)
SELECT * FROM expanded_stats

,canceled_count,revocable_count,average_confidence,total_count,cancel_ratio,revocable_ratio
0,59,33,0.92364,1092,5.40293,55.932203

In [10]:
%%sql
SELECT * FROM the_list

,id,title,canceled,confidence,rationale,revocable,penance,dimension
0,63c55d96-21f3-4eb2-8833-eeb52abaf899,Emmanuel Macron,False,0.980103,"Based on the provided context, Emmanuel Macron...",True,NaN,lgbt
1,0d7e290f-f5cf-459e-87cd-59fe271fb815,Susan Sarandon,False,0.914205,Susan Sarandon has a long and distinguished ca...,True,NaN,lgbt
2,cee6c8df-757b-4a3d-89b0-04c077b1c0c2,Vanessa Hudgens,False,0.943295,Vanessa Hudgens has not been publicly associat...,True,NaN,lgbt
3,b9243bfb-fe4a-409d-b036-b8572e7ed05b,Chip Kelly,False,0.906017,"Based on the provided context, there is no evi...",True,NaN,lgbt
4,d1e122f9-626f-4ee0-922e-2a515c235266,Neymar,False,0.930764,Neymar has not demonstrated any public actions...,True,NaN,lgbt
...,...,...,...,...,...,...,...,...
1158,cea9162b-a6ce-4f97-bd60-e396956f05c5,Eric Dane,False,0.906817,"Based on the provided information, there is no...",False,NaN,lgbt
1159,7884d1ed-3197-4f13-9b78-a0d9586a0d7c,Usha Vance,False,0.934508,The available information does not indicate th...,False,NaN,lgbt
1160,593b1e75-c236-4f13-8358-90248018a55a,Matthew Broderick,False,0.960775,There is no evidence that Matthew Broderick ha...,False,NaN,lgbt
1161,ac57888b-37fe-473f-9824-9dfd78319324,Chris Evans (actor),False,0.987078,Chris Evans has not publicly expressed any vie...,False,NaN,lgbt
1162,63f88873-d3fa-44b1-9a14-e0462a734bc2,Erika Kirk,True,0.451494,Erika Kirk is the chairwoman and CEO of Turnin...,True,NaN,lgbt